body {
    margin: 0;
    padding: 0;    
    background-color: #f2f1ef;
    
}

.Experience {
    min-height: 180vh;
    min-width: 100%;
    background-color: #f2f1ef;

}


.timeline {
    position: absolute;
    top: 25%;
    left: 15%;
    height: 150%;
    width: 100%;
    background-color: #f2f1ef;
}

.date {
    text-decoration: underline;
    font-weight: 700;
    color: #4b6043;
    font-size: 1.2rem;    
}

.vertical-timeline-element-description {
    text-align: left;
}