.Portfolio {
    overflow: scroll;
}


#title {
    position: absolute;
    top: 2%;
}

.projects {
    display: flex;
    align-items: flex-start;
}

.first_level_projects {
    display: flex;
    justify-content: space-around;

}
.project_background {
    background-color: brown;
    margin: 2%; /* Adds some space between boxes */
    overflow: auto; /* Ensures content does not overflow */
    height: 100%;
    padding: 2%;
}
